
<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-6ArX98nn2X3Gk-F4PadynStbvu_muneUmTLFFxNd7yzJA9CXsg" [routerLink]="['/Shaman']">
      <p>Shaman</p>
    </div>
    <div class="col">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc0t0b9oJnPPgAHc4COxF2WKAdxA5UND2fxGvzUCfQC7MxvDG2" [routerLink]="['/Priest']">
      <p>Priest</p>
    </div>
    <div class="col">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjOeUBMFCyTqTWn5Htmc5m_hrispcrZ8RjntGKMookGRF2AAaI" [routerLink]="['/Warlock']">
      <p>Warlock</p>
    </div>
    <div class="col">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhQGYpzQTO4rAW8XojwS7lYjL0aaESAaWTOR1wyfXPccNtYE47Sg" [routerLink]="['/Warrior']">
      <p>Warrior</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo9aMf1b_DOEiHE4aQhSJL2dysdkqqSgJHmlEi04Z2N1eULagg" [routerLink]="['/Hunter']">
      <p>Hunter</p>
    </div>
    <div class="col">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROgaVpoc_9LsRqdjV2nCnye-Sm0tOshoM_T5WOVtzGx8xseFEQrw" [routerLink]="['/Paladin']">
      <p>Paladin</p>
    </div>
    <div class="col">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3XgGeOh3nhB0EtPEtaXKAD5_FbIeqlZJSQ7nf2YN19-jfibi7eQ" [routerLink]="['/Druid']">
      <p>Druid</p>
    </div>
    <div class="col">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCzJO-F1E6QAW997m4DPQa8nBzd1d4cYlc2aoPFgD3d2-x1lS8" [routerLink]="['/Mage']">
      <p>Mage</p>
    </div>

  </div>
</div>
<router-outlet></router-outlet>